* {
  box-sizing: border-box;
}

body {
  width: 1000px;
  margin-bottom: 200px;
}

.container {
  width: 100%;
  margin-top: 5%;
  display: flex;

  /* flex-direction: row;
  justify-content: center;
  align-items: center; */
}

/* .column {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
} */

.modal-btn {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border-style: none;
  background-color: rgb(74 74 233);
  color: white;
  font-size: 1.5rem;
  box-shadow: 5px 5px 10px black;
}

.no {
  width: 75px;
  height: 40px;
  border-radius: 7px;
  background-color: rgb(235 93 93);
  color: white;
  font-size: 1.5rem;
  border-style: none;
  margin-top: 20px;
}

.text-box {
  border-radius: 5px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 200px;
  padding-bottom: 50px;
  padding-top: 10px;
}

#survey {
  width: 200px;
  height: 200px;
  margin: auto;
  text-align: center;
  position: fixed;
  z-index: 10;
  border-style: none;
  border-radius: 10px;
  background-color: white;
  right: 50%;
  bottom: 30%;
}

#shade {
  background-color: rgb(90 90 88 / 70%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 2%;
}

.non-visible {
  display: none;
}

.visible {
  display: block;
}
